<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link href="/global.css" type="text/css" rel="stylesheet">
      <link href="/logo.css" type="text/css" rel="stylesheet">
      <link href="/carsList.css" type="text/css" rel="stylesheet">
      <link href="/header.css" type="text/css" rel="stylesheet">
    
</head>
<body>
    
    <header id="header">
       <img src="/Capture.PNG" id="logo">
            <nav class="menu-Left">
                <ul >
                    <a class="a-Header" href="/">
                        <li>Home</li>
                    </a>
                    <a class="a-Header" href="/aboutPage">
                        <li>About</li>
                    </a>
                    <a class="a-Header" href="/contactPage">
                        <li>Contact</li>
                    </a>
                </ul>
            </nav>
            <h1>CarsManager</h1>

            <a href="/create">
                <button id="botton-Nav" type="">
                    Add Car
                </button>
            </a>


        </header>

        
        {{{body}}}

         <footer>
            <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus asperiores accusantium quae dicta, maxime fugiat impedit voluptatibus ex nostrum error sint praesentium corrupti facilis ipsam similique. Exercitationem animi vero est repudiandae error, aperiam unde, dolore ab adipisci officia similique recusandae non sed voluptatem autem repellat, eveniet eum corporis distinctio. Quasi.</h4>
        </footer>
    
</body>
</html>