
    
    <div class="create-Container">
        <div>
            <div class="page-Title">Create Car</div>
            <div class="custom-Line"></div>

            <form  method="POST">

{{#if error}}
<div class="errorBox">
    <p>{{error.message}}</p>
</div>
{{/if}}

                <label for="fname">Owner</label><br>
  <input class="create-Inputs" type="text" name="owner" ><br>

  <label for="lname">Year</label><br>
  <input class="create-Inputs" type="text" name="year" ><br>

  <label for="fname">Type</label><br>
  <input class="create-Inputs" type="text" name="type" ><br>

  <label for="lname">Model</label><br>
  <input class="create-Inputs" type="text" name="model" ><br>

  <label for="lname">Description</label><br>
  <input class="create-Inputs" type="text" name="description" ><br>

    <label for="lname">Image Url</label><br>
  <input class="create-Inputs" type="url" name="imageUrl" ><br>

  <input type="submit" id="create-Button" value="Submit">
            </form>
        </div>
    </div>
    
       