
    
    <div>
        <div>
            <h1>Hello world from create</h1>

            <form action="/create" method="POST">
                <label for="fname">Car Owner:</label><br>
  <input type="text" name="owner" ><br>
  <label for="lname">Car Year:</label><br>
  <input type="text" name="year" ><br><br>
  <label for="fname">Car Type:</label><br>
  <input type="text" name="type" ><br>
  <label for="lname">Car Model:</label><br>
  <input type="text" name="model" ><br><br>
  <label for="lname">Car Description:</label><br>
  <input type="text" name="description" ><br><br>
    <label for="lname">Car Image Url:</label><br>
  <input type="text" name="imageUrl" ><br><br>
  <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    
       