{{#if error}}
    <div class="errorBox">
        <p>{{error.message}}</p>
    </div>
    {{/if}}
    <div class="create-Container">
        <div>
            <div class="page-Title">Login</div>
            <div class="custom-Line"></div>

            <form action="/auth/login" method="POST">
                <label for="fname">Email</label><br>
  <input class="create-Inputs" type="text" name="email" ><br>
<br>
  <label for="fname">Password</label><br>
  <input class="create-Inputs" type="password" name="password" ><br>


  <input type="submit" id="create-Button" value="Login">
            </form>
        </div>
    </div>
    
       