
{{#if error}}
<div class="errorBox">
  <p>{{error.message}}</p>
</div>
{{/if}}
    <div class="create-Container">
        <div>
            <div class="page-Title">Register</div>
            <div class="custom-Line"></div>

            <form action="/auth/register" method="POST">
                <label for="fname">Email</label><br>
  <input class="create-Inputs" type="text" name="email" ><br>
<br>
  <label for="lname">Username</label><br>
  <input class="create-Inputs" type="text" name="username" ><br>
<br>
  <label for="fname">Password</label><br>
  <input class="create-Inputs" type="password" name="password" ><br>
<br>
  <label for="lname">Repeat Password</label><br>
  <input class="create-Inputs" type="password" name="repeatPassword" ><br>

  <input type="submit" id="create-Button" value="Register">
            </form>
        </div>
    </div>
    
       