body {
    font-family: 'Roboto';
    background: #ffffff;
}

body {
    margin: 0px;
}

a:-webkit-any-link {
    text-decoration: none;
    text-decoration-line: none;
}

.a-Header:link {
    text-decoration: none;
    color: #ffffff;
}

.a-Header:visited {
    color: #ffffff;
    text-decoration: none;
}

#nav-Right {
    margin-right: 10%;
}

.a-Auth {
    float: right;
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
    padding-right: 15px;
}

.a-Header:hover {
    color: white;
}

.a-Auth:hover {
    color: white;
}

.custom-Line {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    border-bottom: 3px solid #202020;
    margin-bottom: 50px;
}

.form-Title {
    text-align: center;
    font-size: 40px;
    color: #202020;
}

.page-Title {
    text-align: center;
    font-size: 40px;
    color: #202020;
    margin-bottom: 16px;
}